header {
  background-color: #e1e1e1;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.30);
  /*border: 2px solid black;*/
  width: 100%;
  height: 150px;
  position: fixed;
}

.inlineList {
  /*background-color: cyan;*/
  width: 100%;
  height: 2.65rem;
  position: relative;
  margin: 0 auto;
}
#listLineOne {
  position: absolute;
  top: 1.5rem;
  right: 0;
  width: 7rem;
  height: 3px;
  background-color: #004a80;
  margin: 0 auto;
}

.inlineList ul {
  position: absolute;
  top: 1rem;
  right: 8rem;
  margin: 0 auto;
}

.inlineList li {
  font-family: sans-serif;
  color: #004a80;
  display: inline;
  margin: 0 auto;
  padding: 0 1em;
}

.colorLine {
  position: relative;
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(rgb(0,74,128) 35%, rgb(247,148,29) 10%, rgb(247,148,29) 65%, rgb(121,0,0) 10%  );
  margin: 0 auto;
}
#parallelogram {
  background-color: #e1e1e1;
  position: absolute;
  top: 0;
  right: 6rem;
  width: 34rem;
  height: 4rem;
  transform: skewX(-40deg);
  margin: 0 auto;
}
.colorLine h1 {
  position: absolute;
  font-family: sans-serif;
  /*font-weight: 900;*/
  font-size: 3.5rem;
  letter-spacing: .05em;
  color: #f7941d;
  top: 0;
  right: 10%;
  transform: skewX(40deg);
  margin: 0 auto;
}

.navItems {
  position: relative;
  /*background-color: yellow;*/
width: 100%;
height: 2.65rem;
}

#listLineTwo {
  position: absolute;
  top: 1.5rem;
  left:0;
  background-color: #0048a0;
  width: 75.5rem;
  height: 2px;
}
.navMenu {
position: absolute;
top: 10px;
right: 7.75rem;
}

.navMenu a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #0f273b;
  margin: 0 auto;
  padding: 0 1em;
}
.socialIcons {
  position: absolute;
  top: 10px;
  right: 1.25rem;
  /*background-color: pink;*/
  width: 6rem;
  height: 20px;
  z-index: 2;
}
.socialIcons img {
  width: 1.25rem;
}

.portButton {
  border: none;
  background-color: #e1e1e1;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #0f273b;
  cursor: grab;
  padding: 0 1em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownMenu{
  display: none;
  position: absolute;
  background-color: #e1e1e1;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.30);
  z-index: 1;
}

.dropdownMenu .dropdownLinks {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #0f273b;
  text-decoration: none;
  margin: 0 auto;
  /*padding: 1em 0;*/
}

.dropdownLinks {
  text-align: center;
}

.dropdownMenu .dropdownLinks:hover {
  background-color: #fff;
}
 .dropdown:hover .dropdownMenu {
   display: block;
 }

 .dropdown:hover .portButton{
   background-color: #fff;
 }
.
